body {
	margin: 0;
	line-height: 1.5;
	letter-spacing: 0.025em;
	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
	box-sizing: border-box;
	width: 100dvw;
	height: 100dvh;
	font-family: 'Quicksand', sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
	margin-block: 0.67em;
	font-size: 1rem;
}
