html {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.5;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	font-family: 'Andika', sans-serif;
}
