.layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    overflow-wrap: break-word;

    header {
        position: sticky;
        top: 0;
        padding: .6em;

        @apply bg-cool-gray-400 text-light-400 shadow-header shadow-gray-400 z-header;
    }

    footer {
        padding: .6em;

        @apply bg-cool-gray-200 shadow-floating z-header;
    }
}
